.header-hover
  position: fixed
  height: 200px
  width: 100%
  opacity: 1
  transition: opacity 0.3s
  &.is-hidden.is-scrolled
    opacity: 0

.site-header
  overflow: hidden
  position: fixed
  display: flex
  height: 72px
  top: 0
  left: 0
  right: 0
  z-index: 100
  background: $color-header-bg

.site-title
  font-size: 2.4rem
  font-family: $font-header
  a
    link-simple: $color-main-fg