.site-title
  position: fixed
  top: 0
  left: 20px
  margin: 0
  padding: 0 5px
  line-height: $size-header-h
  transition: top 0.3s ease-in-out
  z-index: 100
  &.is-active
    a
      link-simple: $color-main-fg
  a
    link-simple: $color-main-bg
    transition: color 0.3s

.is-scrolled
  .site-title
    &:not(.is-active)
      top: -($size-header-h)
    a
      link-simple: $color-main-fg

.to-top
  position: fixed
  right: 10px
  bottom: -40px
  transition: bottom .3s
  z-index: 200
  mix-blend-mode: exclusion
  .arrow-up
    icon-arrow(up, 20px, white, 2px)
    position: absolute
    bottom: 0
    right: 0
  a
    display: block
    width: 40px
    height: @width
.is-scrolled
  .to-top
    bottom: 10px