// .home
.post
  margin-top: 60px

.single
  .post
    margin-top: 0

.read-more
  text-align: center
  a
    link-button: black white

.infinite-loader
  width: 30px
  margin: auto

#infinite-handle
  text-align: center