.menu
  position: absolute
  top: -100%
  right: $size-menu-button * 2
  transform: translateY(-50%)
  transition: top .3s

.main-navigation.is-active
  .menu
    top: 50%

.menu
  ul
    inline-list()

line()
  display: block
  position: absolute
  height: $size-menu-button-h
  border-radius: ($size-menu-button-h / 3)
  background: $color-main-fg

.menu-toggle
  display: block
  position: absolute
  margin: 0
  padding: 0
  top: 0
  right: ($size-menu-button / 2)
  width: $size-menu-button
  height: @width
  background: transparent
  border-radius: ($size-menu-button-h / 4)
  border: none
  cursor: pointer
  &:focus
    outline: none
  .lines
    line()
    top: ($size-menu-button / 2) - ($size-menu-button-h / 2)
    left: $size-menu-button-h
    right: @left
    &::before
    &::after
      line()
      width: 100%
      content: ""
    &::before
      top: -10px
    &::after
      bottom: -10px

// Animation
.menu-toggle
  .lines
    transition: background 0s $anim-button-duration
    &::before
    &::after
      transition-duration: $anim-button-duration, $anim-button-duration
      transition-delay: $anim-button-duration, 0s
    &::before
      transition-property: top, transform
    &::after
      transition-property: bottom, transform

.menu-toggle.is-active
  .lines
    background: none
    &::before
    &::after
      transition-delay: 0s, $anim-button-duration
    &::before
      top: 0
      transform: rotate(45deg)
    &::after
      bottom: 0
      transform: rotate(-45deg)