.main-navigation
  position: fixed
  top: 0
  right: -100%
  margin: 0
  padding-top: 40px
  width: 100%
  background: $color-main-bg
  z-index: 90
  .menu
    line-height: $size-header-h
  form // search form
    margin: 10px 30px
    input[type="search"]
      width: 100%
      border: none
      border-bottom: 2px solid transparent
      background: $color-main-bg
      font-family: $font-header
      &:focus
        outline: none
        border-bottom: 2px solid black
  ul
    reset-list()
    li
      margin: 0
      background: transparent
      transition: background 0.15s
    li:hover
      background: $color-main-fg
  a
    link-simple-hover: $color-main-fg $color-main-bg
    display: block
    padding: 0 30px
    font-family: $font-header
    font-size: 2rem
    text-transform: uppercase
    transition: color .15s

+below(1000px)
  .main-navigation.is-active
    right: 0

+above(1000px)
  .main-navigation
    display: flex
    justify-content: flex-end
    align-items: center
    top: -($size-header-h)
    right: 20px + $size-menu-button
    height: $size-header-h
    padding: 0
    transition: top 0.3s ease-in-out
    .menu
      margin-right: 10px
    form
      margin: 0
      margin-right: 10px
    ul
      inline-list()
      li
        margin-right: 10px
    a
      padding: 0 10px
      font-size: 1.6rem
    &.is-active
      top: 0

line()
  display: block
  position: absolute
  height: $size-menu-button-h
  border-radius: ($size-menu-button-h / 3)
  background: $color-main-bg

.menu-toggle
  position: fixed
  margin: 0
  padding: 0
  top: 0
  right: ($size-menu-button / 2)
  width: $size-menu-button
  height: @width
  background: $color-main-fg
  border-radius: ($size-menu-button-h / 4)
  border: none
  cursor: pointer
  z-index: 100
  &:focus
    outline: none
  .lines
    line()
    top: ($size-menu-button / 2) - ($size-menu-button-h / 2)
    left: $size-menu-button-h * 2
    right: @left
    &::before
    &::after
      line()
      width: 100%
      content: ""
    &::before
      top: -10px
    &::after
      bottom: -10px

// Animation
.menu-toggle
  .lines
    transition: background 0s $anim-button-duration
    &::before
    &::after
      transition-duration: $anim-button-duration, $anim-button-duration
      transition-delay: $anim-button-duration, 0s
    &::before
      transition-property: top, transform
    &::after
      transition-property: bottom, transform

.menu-toggle.is-active
  .lines
    background: none
    &::before
    &::after
      transition-delay: 0s, $anim-button-duration
    &::before
      top: 0
      transform: rotate(45deg)
    &::after
      bottom: 0
      transform: rotate(-45deg)