.share-icons
  inline-list()
  font-size: 2.6rem
  line-height: 2.6rem
  &::before
    float: left
    font-size: 1.6rem
    padding-right: 20px
    text-transform: uppercase
    color: $color-text-l
    content: "Share"
  a
    reset-link-fancy()