// ---------------
// Global Settings
// ---------------

// Font stacks
// ---------------

// Common fonts
$serif-f = "Times New Roman", Times, serif
$sans-serif-f = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, $serif-f
$lucida-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = Consolas, "Liberation Mono", Menlo, Courier, monospace
$verdana = Verdana, Geneva, sans-serif
$roboto = 'Roboto', sans-serif

$open-sans = 'Open Sans', $sans-serif-f
$montserrat = 'Montserrat', $sans-serif-f

$josefin-sans = 'Josefin Sans', $sans-serif-f
$lora = 'Lora', $serif-f

// Naming Conventions:
//
// (include '-f' if fallback)
//
// $font-[element][-f]

// Fallback fonts
// Will be used if webfonts fail to load and as webfonts are loading
$font-main = $lora
$font-header = $montserrat

// Theme fonts
// Webfonts used once they have been loaded; add to main.js
// $font-main = 'Roboto', $font-main-f
// $font-header = 'Roboto', $font-header-f
$font-mono = 'Source Code Pro', $monospace

// Colors
// ---------------

// Common colors (via http://clrs.cc - slightly modded)
$navy     = #001F3F
$blue     = #0074D9
$aqua     = #7FDBFF
$teal     = #39CCCC
$olive    = #3D9970
$green    = #2ECC40
$lime     = #01FF70
$yellow   = #FFDC00
$orange   = #FF851B
$red      = #D13F19
$maroon   = #85144B
$fuchsia  = #F012BE
$purple   = #B10DC9
$white    = #FFFFFF
$silver   = #DDDDDD
$gray     = #AAAAAA
$black    = #222222

// Use as default HTML colors
navy    = $navy
blue    = $blue
aqua    = $aqua
teal    = $teal
olive   = $olive
green   = $green
lime    = $lime
yellow  = $yellow
orange  = $orange
red     = $red
maroon  = $maroon
fuchsia = $fuchsia
purple  = $purple
white   = $white
silver  = $silver
gray    = $gray
black   = $black

// Theme colors
$concrete = #F2F2F2


// Naming Conventions:
//
// $[color|size]-[element]-[bg|fg|w|h]

// Element colors
// $color-main-bg = #f5f4f3
$color-primary = #3f67df
$color-primary = #2a49db
$color-main-bg = white
$color-main-fg = black
$color-link-fg = black
$color-text-l = lighten(black, 25%)
$color-light-bg = #efefef

$color-header-bg = $color-main-bg
$color-footer-bg = $color-light-bg
$color-code-bg = $color-light-bg

$color-nav-bg = black
$color-nav-fg = white

$color-sub-menu-bg = invert(rgba(0, 0, 0, .25))

$color-ad-bg = #efefef

// Official Brands
$color-facebook = #3b5998
$color-twitter = #55acee
$color-linkedin = #0077b5
$color-googleplus = #dd4b39
$color-rss = #f26522

// Sizes
// ---------------

// Typography
// ---------------

$font-size = 1.6rem
$line-height = 1.45

// Element sizes
$size-header-h = 40px
$size-main-w = 620px
$size-footer-h = 150px
$size-footer-w = 960px

$size-text-w = $font-size * 33
$size-bq-w = $font-size * 28
$size-main-w = $font-size * 40

$size-menu-button = 40px
$size-menu-button-h = 3px

// Animation
// ---------------

$anim-button-duration = 0.2s