text-selection(blue, white)

html
  font-size: 62.5%
  // background: $color-main-fg

+mobile()
  html
    font-size: 50%

body
  font-family: $font-main
  font-size: $font-size
  // font-kerning: normal
  // font-variant-ligatures: common-ligatures contextual
  // font-feature-settings: "kern", "liga", "clig", "calt"
  color: $black
  background: $color-main-bg

h1
  font-weight: 400
  font-size: 2.4rem

h2
  font-weight: 400
  font-size: 2rem

h3
  font-weight: 500
  font-size: 1.8rem

h1
h2
h3
  font-family: $font-header
  // font-weight: 700
  margin-top: 1.75em
  margin-bottom: .15em

p
  lh: $line-height

pre
  pre()
  font-family: $font-mono
  font-size: 1.4rem
  border: 0
  // border-top: 1px solid gray
  // border-bottom: 1px solid gray
  border-radius: 0
  background-color: $color-code-bg

code
  font-family: $font-mono

a
  // link-fancy-reverse: $color-link-fg $color-link-fg
  // text-decoration: none
  // &:link
  // &:visited
  //   color: $color-link-fg
  // &:hover
  // &:active
  //   color: darken($color-link-fg, 30%)
  // link: $color-link-fg 'darken'
  link-fancy: lighten($color-link-fg, 30%) $color-link-fg

figure
  a
    reset-link-fancy()

.entry-header
  a
    link-fancy-reverse: lighten($color-main-fg, 30%) $color-main-fg

hr
  width: 15rem
  color: silver
  background-color: silver
  border: solid .5px silver

// Main content width
.entry-content
.entry-summary
  h1
  h2
  h3
  p
  ul
  ol
  pre
  / .entry-header
    max-width: $size-text-w
    margin-left: auto
    margin-right: auto
    +below(600px)
      margin-left: 10px
      margin-right: 10px

  blockquote
    max-width: $size-bq-w
    margin: auto

ul
  padding: 0