// For use with screen reader elements and other hidden things
hidden()
  position: absolute
  left: -999em

un-hidden()
  position: static

// These are all sloppy ways of centering elements
center-vertically()
  position: absolute
  top: 50%
  transform: translateY(-50%)

center-horizontally()
  position: absolute
  left: 50%
  transform: translateX(-50%)

center-both()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

fill-space()
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0