// Mixin: Text selection
//
// Style the selected text; removes any text shadow to eliminate
// blurry text.
//
// Block level.

text-selection($background, $color)
  ::selection
    background: $background
    color: $color
    text-shadow: none

// Mixin: Line Height
//
// Add a line height to any selector, and modify the margins
// above and below to match the height in ems. Geared towards
// use on the paragraph element.
//
// ex:
// p
//   lh: 1.3

lh($height)
  line-height: $height
  margin-top: ($height)em
  margin-bottom: ($height)em

// Mixin: Underline Fancy
//
// A style for text which includes a sharper underline suitable for
// retina screens.
//
// ex. underline-fancy()
// ex. underline-fancy: green

underline-fancy($border = $blue, $height = 97.5%)
  text-decoration: none
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, $border 50%, $border 100%)
  background-repeat: repeat-x
  background-size: 2px 2px
  background-position: 0 $height

// Mixin: Link Fancy
//
// A style for links which includes a sharper underline suitable for
// retina screens.
//
// ex. link-fancy()
// ex. link-fancy: green

link-fancy($border = $blue, $color = $blue, $lighten = false)
  reset-link()
  color: $color
  underline-fancy: $border

  &:hover
    if $lighten
      color: lighten($color, 100%)
    else
      color: $color
    background-image: none

  &:visited
    opacity: .8

link-fancy-reverse($border = $blue, $color = $blue, $lighten = false)
  reset-link()
  color: $color
  background-image: none

  &:hover
    if $lighten
      color: lighten($color, 100%)
    else
      color: $color
    underline-fancy: $border

  &:visited
    opacity: .8

// Mixin: Link Simple
//
// A basic link that is just one color in all states, no underlines or anything.
//
// ex: link-simple: #000

link-simple($color)
  reset-link()
  color: $color
  &:link
  &:hover
  &:visited
  &:active
    color: $color

link-style-base($color)
  position: relative
  display: inline-block
  margin: 15px 25px
  outline: none
  color: $color
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 400
  text-shadow: 0 0 1px rgba(255,255,255,0.3)
  // font-size: 1.35em

  &:hover
  &:focus
    outline: none

link-style-8($color, $border)
  link-style-base($color)
  padding: 10px 20px
  &::before
  &::after
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 3px solid $color
    content: ''
    transition: transform 0.3s, opacity 0.3s

  &::after
    border-color: $border
    opacity: 0
    transform: translateY(-7px) translateX(6px)

  &:hover::before
  &:focus::before
    opacity: 0
    transform: translateY(5px) translateX(-5px)

  &:hover::after
  &:focus::after
    opacity: 1
    transform: translateY(0px) translateX(0px)