// Mixin: Text selection
//
// Style the selected text; removes any text shadow to eliminate
// blurry text.
//
// Block level.

text-selection($background, $color)
  ::selection
    background: $background
    color: $color
    text-shadow: none

// Mixin: Line Height
//
// Add a line height to any selector, and modify the margins
// above and below to match the height in ems. Geared towards
// use on the paragraph element.
//
// ex:
// p
//   lh: 1.3

lh($height)
  line-height: $height
  margin-top: ($height)em
  margin-bottom: ($height)em

// Mixin: Underline Fancy
//
// A style for text which includes a sharper underline suitable for
// retina screens.
//
// ex. underline-fancy()
// ex. underline-fancy: green

underline-fancy($border = $blue, $height = 97.5%)
  text-decoration: none
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, $border 50%, $border 100%)
  background-repeat: repeat-x
  background-size: 2px 2px
  background-position: 0 $height

// Mixin: Link Fancy
//
// A style for links which includes a sharper underline suitable for
// retina screens.
//
// ex. link-fancy()
// ex. link-fancy: green

link-fancy($border = $blue, $color = $blue, $lighten = false)
  reset-link()
  color: $color
  underline-fancy: $border
  &:hover
    if $lighten
      color: lighten($color, 100%)
    else
      color: $color
    background-image: none
  &:visited
    opacity: .8

link-fancy-reverse($border = $blue, $color = $blue, $lighten = false)
  reset-link()
  color: $color
  background-image: none
  transition: none
  &:hover
    if $lighten
      color: lighten($color, 100%)
    else
      color: $color
    underline-fancy: $border
  &:visited
    opacity: .8

reset-link-fancy()
  reset-link()
  background-image: none
  &:link
  &:hover
  &:visited
  &:active
    background-image: none

// Mixin: Link Simple
//
// A basic link that is just one color in all states, no underlines or anything.
//
// ex: link-simple: #000

link-simple($color)
  reset-link-fancy()
  color: $color
  &:link
  &:hover
  &:visited
  &:active
    color: $color

link-simple-hover($color, $hover)
  reset-link-fancy()
  background-image: none
  color: $color
  &:link
  &:visited
    color: $color
    background-image: none
  &:hover
  &:active
    color: $hover
    background-image: none

link-button($color, $color-hover)
  link-simple: $color
  font-family: $font-header
  // font-weight: 700
  text-transform: uppercase
  padding: 5px 10px
  border: 2px solid $color
  transition: background 0.15s, color 0.15s
  &:hover
    border: 2px solid $color
    background: $color
    color: $color-hover

link-button-reverse($color-hover, $color)
  link-button: $color $color-hover
  background: $color-hover
  border: 2px solid $color-hover
  &:hover
    border: 2px solid $color-hover

link-style-base($color)
  position: relative
  display: inline-block
  outline: none
  color: $color
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 400
  // text-shadow: 0 0 1px rgba(255,255,255,0.3)

  &:hover
  &:focus
    outline: none

link-style-3($color)
  link-style-base($color)

  &::after
    position: absolute
    top: 100%
    left: 0
    width: 100%
    height: 2px
    background: rgba(0,0,0,0.5)
    content: ''
    opacity: 0
    transition: opacity 0.15s, transform 0.15s
    transform: translateY(8px)

  &:hover::after
  &:focus::after
    opacity: 1
    transform: translateY(0px)

link-style-8($color, $border)
  link-style-base($color)
  padding: 10px 20px
  &::before
  &::after
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 3px solid $color
    content: ''
    transition: transform 0.3s, opacity 0.3s

  &::after
    border-color: $border
    opacity: 0
    transform: translateY(-7px) translateX(6px)

  &:hover::before
  &:focus::before
    opacity: 0
    transform: translateY(5px) translateX(-5px)

  &:hover::after
  &:focus::after
    opacity: 1
    transform: translateY(0px) translateX(0px)

input-outline($color)
  border: 1px solid rgba($color, 0.8)
  box-shadow: 0 1px 1px rgba($color, 0.075) inset, 0 0 8px rgba($color, 0.6)
  outline: 0 none